<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>roominfo</title>
</head>
<body><box id="siteinfo">
    <div id="siteinfo" type="text" ><h1><strong>Qrooms </strong> is a platform for everybody , providing a  information about various rooms/homes in your region regarding rent,buy. </h1>
    </div>
    <div ><h2> your welcome to our p-page  hope you will be happy with our contribution</h2>
    </div>
    <div> explore <strong>Qrooms</strong>  for Rent-properties & for Sell-properties </div>
    <div>thanks for comming </div>once again </div><strong>thanks!</strong></div></box>
</body>
</html>